.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

.idea/
.vscode/

.phpunit.result.cache
.php-cs-fixer.cache

node_modules/
npm-debug.log*
.playwright-browsers/
playwright-results/
coverage/playwright-report/
test-results/
.phpunit.cache/
.scannerwork/
