.DS_Store
Thumbs.db

.idea/
.vscode/

playwright-results/
playwright-results.stale*/
playwright-results.local-stale*/
test-results/
.playwright-browsers/
.scannerwork/
node_modules/
.phpunit.cache/
.phpunit.cache-stale*/
